{% block actions %}
    {% if
        is_granted('admin_user_edit', item) or
        is_granted('admin_user_block', user) or
        is_granted('admin_user_unblock', user) or
        is_granted('admin_user_delete', item) %}
        <div class="px-6 py-2">
            <twig:DropdownMenu>
                <twig:block name="dropdownHeaderLabel">{{ 'actions'|trans }}</twig:block>
                <twig:block name="dropdownButton">
                    <twig:Button
                            icon="{{ ux_icon('fa6-solid:ellipsis') }}"
                            mode="white"
                            color="{{ themeColor }}"
                    />
                </twig:block>

                <twig:block name="dropdownItems">
                    <twig:DropdownItemContainer allowDisplay="{{ is_granted('admin_user_edit', item) or is_granted('admin_user_block', item) or is_granted('admin_user_unblock', item) }}">
                        <twig:block name="dropdownItemContainerItems">
                            <twig:ButtonLink
                                    allowDisplay="{{ is_granted('admin_user_edit', item) }}"
                                    link="{{ path('admin_user_edit', {id: item.id}) }}"
                                    label="{{ 'edit'|trans }}"
                                    mode="ghost"
                                    :block="true"
                                    size="small"
                            />
                            <twig:ButtonLinkSweetAlert
                                    allowDisplay="{{ is_granted('admin_user_block', item) }}"
                                    link="{{ path('admin_user_block', {id: item.id}) }}"
                                    label="{{ 'block'|trans }}"
                                    mode="ghost"
                                    :block="true"
                                    size="small"
                                    color="orange"
                                    swalTitle="{{ 'block_this_user'|trans }}"
                                    swalText="{{ 'this_action_is_final_are_you_sure'|trans }}"
                                    swalColor="orange"
                            />
                            <twig:ButtonLinkSweetAlert
                                    allowDisplay="{{ is_granted('admin_user_unblock', item) }}"
                                    link="{{ path('admin_user_unblock', {id: item.id}) }}"
                                    label="{{ 'unblock'|trans }}"
                                    mode="ghost"
                                    :block="true"
                                    size="small"
                                    color="orange"
                                    swalTitle="{{ 'unblock_this_user'|trans }}"
                                    swalText="{{ 'this_action_is_final_are_you_sure'|trans }}"
                                    swalColor="orange"
                            />
                        </twig:block>
                    </twig:DropdownItemContainer>
                    <twig:DropdownItemContainer allowDisplay="{{ is_granted('admin_user_delete', item) }}">
                        <twig:block name="dropdownItemContainerItems">
                            <twig:ButtonLinkSweetAlert
                                    allowDisplay="{{ is_granted('admin_user_delete', item) }}"
                                    link="{{ path('admin_user_delete', {id: item.id}) }}"
                                    label="{{ 'delete'|trans }}"
                                    mode="ghost"
                                    :block="true"
                                    size="small"
                                    color="red"
                                    swalTitle="{{ 'delete_this_user'|trans }}"
                                    swalText="{{ 'this_action_is_final_are_you_sure'|trans }}"
                                    swalColor="red"
                            />
                        </twig:block>
                    </twig:DropdownItemContainer>
                </twig:block>
            </twig:DropdownMenu>
        </div>
    {% endif %}
{% endblock %}
