{% block item %}
    <tr>
        <td class="h-px w-px whitespace-nowrap">
            <div class="px-6 py-3">
                <span class="block text-sm font-semibold text-gray-800">
                    {{ item.lastName }} {{ item.firstName }}
                </span>
                <span class="block text-sm text-gray-500">
                     {% if item.lastLogin %}{{ 'last_login_on'|trans }} {{ item.lastLogin | date('d/m/Y à h:i') }}{% endif %}
                </span>
            </div>
        </td>

        <td class="h-px w-px whitespace-nowrap">
            <div class="px-6 py-3 flex flex-col items-center">
                <div class="block text-sm font-semibold text-gray-800">{{ item.email }}</div>
                <div class="block">
                    {% for role in item.roles %}
                        {% if role is same as('ROLE_ADMIN') %}
                            <twig:Badge label="{{ 'administrator'|trans }}" color="indigo" />
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </td>
        <td class="h-px w-px whitespace-nowrap">
            <div class="px-6 py-3 flex justify-center">
                <twig:BadgeYesNo value="{{ not item.isBlocked }}" labelTrue="{{ 'active'|trans }}" labelFalse="{{ 'blocked'|trans }}"  />
            </div>
        </td>

        <td class="h-px w-px whitespace-nowrap">
            <div class="px-6 py-1.5 flex justify-end">
                {{ block('actions', 'areas/admin/user/_actions.html.twig') }}
            </div>
        </td>
    </tr>
{% endblock %}
