{% block item %}
    <tr>
        <td class="h-px w-px whitespace-nowrap">
            <div class="px-6 py-3">
                <span class="block text-sm font-semibold text-gray-800">
                    {{ item.firstName }} {{ item.lastName }}
                </span>
                <span class="block text-sm text-gray-500">
                    Modifié le {{ item.updatedAt | date('d/m/Y') }}
                </span>
            </div>
        </td>

        <td class="h-px w-px whitespace-nowrap">
            <div class="px-6 py-3 flex flex-col items-center">
                <div class="block text-sm font-semibold text-gray-800">{{ item.email }}</div>
                <div class="block">
                    {% for role in item.roles %}
                        {% if role is same as('ROLE_ADMIN') %}
                            {{ component('badge', {label: 'Admin', color: 'indigo'}) }}
                        {% elseif role is same as('ROLE_MANAGER') %}
                            {{ component('badge', {label: 'Gestionnaire', color: 'teal'}) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </td>
        <td class="h-px w-px whitespace-nowrap">
            <div class="px-6 py-3 flex justify-center">
                {{ component('badge_yesno', {value: not item.isBlocked, labelTrue: 'Actif', labelFalse: 'Bloqué'}) }}
            </div>
        </td>

        <td class="h-px w-px whitespace-nowrap">
            <div class="px-6 py-1.5 flex justify-end">
                {{ block('actions', 'areas/admin/user/_actions.html.twig') }}
            </div>
        </td>
    </tr>
{% endblock %}