{% extends '_layout/admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block breadcrumb %}
    <twig:Breadcrumb items="{{ [
        {path: path('admin_dashboard'), label: 'Accueil'},
        {path: null, label: block('title')},
    ]}}"/>
{% endblock %}

{% block body %}
    {% component TableList with {
        headerTitle: block('title'),
        tableColumns: [
            knp_pagination_sortable(pagination, 'Nom', 'u.firstname'),
            knp_pagination_sortable(pagination, 'Email', 'u.email'),
            knp_pagination_sortable(pagination, 'Statut', 'u.blocked'),
            ''
        ],
        pagination: pagination,
    } %}
        {% block header_actions %}
            <div class="flex gap-4 items-center">
                {% if is_granted('admin_user_export') %}
                    <twig:ButtonLink
                            link="{{ path('admin_user_export', {q: app.request.query.get('q')}) }}"
                            label="Exporter"
                            mode="ghost"
                            color="{{ themeColor }}"
                            icon="{{ ux_icon('fa6-solid:file-export') }}"
                    />
                {% endif %}

                {% if is_granted('admin_user_add') %}
                    <twig:ButtonLink
                            link="{{ path('admin_user_add') }}"
                            label="Ajouter"
                            color="{{ themeColor }}"
                            icon="{{ ux_icon('fa6-solid:plus') }}"
                    />
                {% endif %}
            </div>
        {% endblock %}

        {% block emptyList %}
            <twig:ListEmpty description="Essayez d'ajouter un nouvel utilisateur.">
                <twig:block name="ListEmptyButton">
                    <twig:ButtonLink
                            allowDisplay="{{ is_granted('admin_user_add') }}"
                            icon="{{ ux_icon('fa6-solid:plus') }}"
                            label="Ajouter"
                            link="{{ path('admin_user_add') }}"
                            color="{{ themeColor }}"
                    />
                </twig:block>
            </twig:ListEmpty>
        {% endblock %}

        {% block table_item %}
            {{ block('item', 'areas/admin/user/_list_item.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
