<dismiss-toast id="dismiss-toast"
     class="hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 fixed top-5 right-5">
    <div class="max-w-xs bg-{{ color }}-100 border border-{{ color }}-200 text-sm text-{{ color }}-500 rounded-md shadow-md" role="alert">
        <div class="flex p-4">
            {{ message }}

            <div class="ml-10">
                <button type="button"
                        class="inline-flex flex-shrink-0 justify-center items-center h-4 w-4 rounded-md text-{{ color }}-400 hover:text-{{ color }}-600 focus:outline-none transition-all text-sm"
                        data-hs-remove-element="#dismiss-toast">
                    <span class="sr-only">Close</span>
                    {{ source('@icons/cross.svg') }}
                </button>
            </div>
        </div>
    </div>
</dismiss-toast>