{% if permission %}
    {% set element = path is not null ? 'a' : 'span' %}

    {% if swal.title is defined %}
    <sweet-alert title="{{ swal.title }}" text="{{ swal.text }}" type="{{ swal.type }}">
        <{{ element }}
            {% if path is not null %}href="{{ path }}" {% endif %}
            class="{{ class ? class : 'flex items-center gap-x-3 py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100' }} {{ tooltip ? 'hs-tooltip-toggle' : '' }} cursor-pointer"
        >
            {% if labelBefore is defined %}
                {{ labelBefore }}
            {% endif %}

            {% if icon is defined and icon is not null %}
                <div class="{{ iconClass is not null ? iconClass : '' }} svg-full mx-auto">
                    {{ icon|raw }}
                </div>
            {% endif %}

            {% if labelAfter is defined %}
                {{ labelAfter }}
            {% endif %}

            {% if tooltip is defined and tooltip is not null %}
                <span
                    class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-white"
                    role="tooltip"
                >
                    {{ tooltip }}
                </span>
            {% endif %}
        </{{ element }}>
        </sweet-alert>
    {% else %}
        <{{ element }}
            {% if path is not null %}href="{{ path }}" {% if target is not null %}target="{{ target }}"{% endif %}{% endif %}
            class=" {{ class ? class : 'flex items-center gap-x-3 py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100' }} {{ tooltip ? 'hs-tooltip-toggle' : '' }} cursor-pointer"
        >
            {% if labelBefore is defined %}
                {{ labelBefore }}
            {% endif %}

            {% if icon is defined and icon is not null %}
                <div class="{{ iconClass is not null ? iconClass : '' }} svg-full mx-auto">
                    {{ icon|raw }}
                </div>
            {% endif %}

            {% if labelAfter is defined %}
                {{ labelAfter }}
            {% endif %}

            {% if tooltip is defined and tooltip is not null %}
                <span
                    class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-white"
                    role="tooltip"
                >
                    {{ tooltip }}
                </span>
            {% endif %}
        </{{ element }}>
    {% endif %}
{% endif %}
