<div class="flex flex-col border border-gray-200 bg-white rounded-xl">
    <div class="p-4 md:p-5">
        <div class="flex items-center gap-x-2">
            <p class="text-sm font-semibold text-gray-500">
                {{ title }}
            </p>
            <div class="hs-tooltip">
                <div class="hs-tooltip-toggle">
                    <span class="w-3.5 h-3.5 text-gray-500">
                    {{ source('@icons/help.svg') }}
                    </span>
                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm"
                          role="tooltip">
                        {{ number }} {{ title }}
              </span>
                </div>
            </div>
        </div>

        <h3 class="mt-2 text-2xl sm:text-3xl lg:text-4xl text-gray-800">
            <span class="font-semibold"> {{ formatStatistic(number) }}</span>
        </h3>
    </div>
</div>