{% extends '_emails/layout.html.twig' %}

{% block body %}
    <div style="padding-bottom: 30px; font-size: 17px;">
        <strong>Réinitialisation du mot de passe</strong>
    </div>
    <div style="padding-bottom: 30px">
        Bonjour {{ firstname }},
    </div>
    <div style="padding-bottom: 30px">
        Vous n'avez plus accès au service en ligne <a href="{{ url('auth_login') }}">{{ site_title }}</a> ?
    </div>
    <div style="padding-bottom: 30px">
        Pour réinitialiser votre mot de passe sur {{ site_title }}, veuillez utiliser le lien ci-dessous. Vous serez invités à en créer un nouveau.
    </div>
    <div style="padding-bottom: 40px; text-align:center;">
        <a href="{{ url('auth_create_password', {token: confirmationToken}) }}" rel="noopener"
           style="text-decoration:none;display:inline-block;text-align:center;padding:0.75575rem 1.3rem;font-size:0.925rem;line-height:1.5;border-radius:0.35rem;color:#ffffff;background-color:#3B1E4E;border:0px;margin-right:0.75rem!important;font-weight:600!important;outline:none!important;vertical-align:middle"
           target="_blank">Réinitialiser votre mot de passe</a>
    </div>
{% endblock %}