{% extends '_layout/auth.html.twig' %}

{% block title %}{{ 'password_creation'|trans }}{% endblock %}

{% block body %}
    {{ block('language_switcher') }}

    {% if form is not null %}
        {{ form_start(form, {'attr': {'class': 'space-y-4 md:space-y-6'}}) }}
        {% if error is defined and error is not null %}
            <twig:Alert color="red" description="{{ error }}" />
        {% endif %}

        <p>{{ 'create_a_password_to_complete'|trans }}</p>

        {{ form_row(form.plainPassword) }}

        <div class="space-y-2">
            {{ form_row(form.submit, {'attr': {'class': 'w-full'}}) }}

            <twig:ButtonLink
                    link="{{ path('auth_login') }}"
                    label="{{ 'login'|trans }}"
                    mode="ghost"
                    color="{{ themeColor }}"
                    :block="true"
            />
        </div>

        {{ form_end(form) }}
    {% else %}
        {% if error is defined %}
            <twig:Alert
                    color="red"
                    description="{{ 'expired_link_description'|trans }}"
                    links="{{ [{label: 'forgot_password'|trans, link: path('auth_forgot_password')}] }}"
            />
        {% else %}
            <twig:Alert
                    header="{{ 'password_saved'|trans }}"
                    description="{{ 'try_connect_description'|trans }}"
                    links="{{ [{label: 'login'|trans, link: path('auth_login')}] }}"
            />
        {% endif %}
    {% endif %}
{% endblock %}
