{% extends '@SFToolbox/layouts/auth.html.twig' %}

{% block title %}Création du mot de passe{% endblock %}

{% block body %}
    {% if form is not null %}
        {{ form_start(form, {'attr': {'class': 'space-y-4 md:space-y-6'}}) }}
        {% if error is defined and error is not null %}
            {{ component('alert', {
                color: 'red',
                description: error
            }) }}
        {% endif %}

        <p>
            Pour finaliser et valider la création de votre compte, veuillez saisir un mot de passe.
            Celui-ci doit être composé de 8 caractères minimum.
        </p>

        {{ form_row(form.plainPassword) }}

        <div class="space-y-2">
            {{ form_row(form.submit, {'attr': {'class': 'w-full'}}) }}

            {{ component('button_link', {
                link: path('auth_login'),
                label: 'Connectez-vous',
                mode: 'ghost',
                color: themeColor,
                block: true
            }) }}
        </div>

        {{ form_end(form) }}
    {% else %}
        {% if error is defined %}
            {{ component('alert', {
                color: 'red',
                description: 'Le lien a expiré. Veuillez renouveller votre demande.',
                links: [{label: 'Mot de passe oublié', link: path('auth_forgot_password')}]
            }) }}
        {% else %}
            {{ component('alert', {
                header: 'Mot de passe enregistré !',
                description: 'Vous pouvez dès à présent accéder à votre espace en vous rendant sur la page de connexion.',
                links: [{label: 'Se connecter', link: path('auth_login')}]
            }) }}
        {% endif %}
    {% endif %}
{% endblock %}
