{% extends '@SFToolbox/layouts/auth.html.twig' %}

{% block title %}Création du mot de passe{% endblock %}

{% block body %}
    {% if form is not null %}
        {{ form_start(form, {'attr': {'class': 'space-y-4 md:space-y-6'}}) }}
        {% if error is defined and error is not null %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <p>
            Pour finaliser et valider la création de votre compte, veuillez saisir un mot de passe.
            Celui-ci doit être composé de 8 caractères minimum.
        </p>

        {{ form_row(form.plainPassword) }}

        {{ form_row(form.submit, {'attr': {'class': 'w-full'}}) }}

        <p class="text-center text-sm font-medium text-primary-600 hover:underline">
            <a href="{{ path('auth_login') }}" class="link">Connectez-vous</a>
        </p>

        {{ form_end(form) }}
    {% else %}
        {% if error is defined %}
            <div class="alert alert-danger">
                <span>
                    Le lien n'est plus disponible. Veuillez renouveller votre demande de
                    "<a class="underline" href="{{ path('auth_forgot_password') }}">Mot de passe oublié</a>".
                </span>
            </div>
        {% else %}
            <div class="alert alert-success">
                <span>
                    Votre nouveau mot de passe a été enregistré.
                    Vous pouvez dès à présent accéder à {{ site_title }} en vous rendant sur la
                    <a class="underline" href="{{ path('auth_login') }}">page de connexion</a>.
                </span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
