{% extends '@SFToolbox/layouts/auth.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}
    {% if form is not null %}
        {{ form_start(form, {attr: {class: 'space-y-4 md:space-y-6'}}) }}
        {% if error is defined and error is not null %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        {{ form_row(form.email) }}
        {{ form_row(form.submit, {'attr': {'class': 'w-full'}}) }}

        <p class="text-center text-sm font-medium text-primary-600 hover:underline">
            <a href="{{ path('auth_login') }}" class="link">Connectez-vous</a>
        </p>

        {{ form_end(form) }}
    {% else %}
        <div class="alert alert-success">
                <span>
                   Les instructions pour réinitialiser votre mot de passe ont été envoyées à votre adresse email.
                    Vous pouvez dès à présent accéder à {{ site_title }} en vous rendant sur la
                    <a class="underline" href="{{ path('auth_login') }}">page de connexion</a>.
                </span>
        </div>
    {% endif %}
{% endblock %}
