{% extends '@SFToolbox/layouts/auth.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}
    {% if form is not null %}
        {{ form_start(form, {attr: {class: 'space-y-4 md:space-y-6'}}) }}
        {% if error is defined and error is not null %}
            {{ component('alert', {
                color: 'red',
                description: error
            }) }}
        {% endif %}

        {{ form_row(form.email) }}

        <div class="space-y-2">
            {{ form_row(form.submit, {'attr': {'class': 'w-full'}}) }}

            {{ component('button_link', {
                link: path('auth_login'),
                label: 'Connectez-vous',
                mode: 'ghost',
                color: themeColor,
                block: true
            }) }}
        </div>

        {{ form_end(form) }}
    {% else %}
        {{ component('alert', {
            header: 'Vérifiez votre boîte mail !',
            description: 'Les instructions pour réinitialiser votre mot de passe ont été envoyées à votre adresse email. Vous pourrez ensuite accéder à votre espace en vous rendant sur la page de connexion.',
            links: [{label: 'Se connecter', link: path('auth_login')}]
        }) }}
    {% endif %}
{% endblock %}
