{% extends '@SFToolbox/layouts/auth.html.twig' %}

{% block title %}{{ 'forgot_password'|trans }}{% endblock %}

{% block body %}
    {% if form is not null %}
        {{ form_start(form, {attr: {class: 'space-y-4 md:space-y-6'}}) }}
        {% if error is defined and error is not null %}
            <twig:Alert
                    color="red"
                    description="{{ error|trans }}"
            />
        {% endif %}

        {{ form_row(form.email) }}

        <div class="space-y-2">
            {{ form_row(form.submit, {'attr': {'class': 'w-full'}}) }}

            <twig:ButtonLink
                    link="{{ path('auth_login') }}"
                    label="{{ 'login'|trans }}"
                    mode="ghost"
                    color="{{ themeColor }}"
                    :block="true"
            />
        </div>

        {{ form_end(form) }}
    {% else %}
        <twig:Alert
                header="{{ 'check_your_mailbox'|trans }}"
                description="{{ 'reset_password_description'|trans }}"
                links="{{ [{label: 'login'|trans, link: path('auth_login')}] }}"
        />
    {% endif %}
{% endblock %}
