{% extends '@SFToolbox/layouts/auth.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {class: 'space-y-4 md:space-y-6'}}) }}
    {% if error is defined and error is not null %}
        {{ component('alert', {
            type: 'danger',
            message: error.messageKey|trans(error.messageData, 'security')
        }) }}
    {% endif %}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    <div class="space-y-2">
        {{ form_row(form.submit, {'attr': {'class': 'w-full'}}) }}

        {{ component('button_link', {
            link: path('auth_forgot_password'),
            label: 'Mot de passe oublié ?',
            mode: 'ghost',
            color: themeColor,
            block: true
        }) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
