{% extends '@SFToolbox/layouts/auth.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {class: 'space-y-4 md:space-y-6'}}) }}
    {% if error is defined and error is not null %}
        <twig:Alert color="red" description="{{ error.messageKey|trans(error.messageData, 'security') }}"/>
    {% endif %}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    <div class="space-y-2">
        {{ form_row(form.submit, {'attr': {'class': 'w-full'}}) }}

        <twig:ButtonLink
                link="{{ path('auth_forgot_password') }}"
                label="Mot de passe oublié ?"
                mode="ghost"
                color="{{ themeColor }}"
                :block="true"
        />
    </div>

    {{ form_end(form) }}

    {% if is_granted('auth_google_login') %}
        <hr/>

        <twig:ButtonLink
                link="{{ path('auth_connect_google') }}"
                label="Continuer avec Google"
                mode="solid"
                color="{{ themeColor }}"
                :block="true"
                allowDisplay="{{ is_granted('auth_google_login') }}"
        />
    {% endif %}


{% endblock %}
