<div class="flex flex-col items-center p-6 lg:p-12">
    <div class="max-w-5xl w-full space-y-6 sm:space-y-12">
        <fieldset>
            <div class="space-y-2 mb-10">
                <p class="text-xl">Informations personnelles</p>
            </div>

            <div class="lg:flex gap-4 space-y-6 lg:space-y-0">
                <div class="w-full lg:w-1/2">
                    {{ form_row(form.lastname) }}
                </div>
                <div class="w-full lg:w-1/2">
                    {{ form_row(form.firstname) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="pt-6 sm:pt-12 border-t">
            <div class="space-y-2 mb-10">
                <p class="text-xl">Identifiants de connexion</p>
            </div>

            <div class="space-y-6">
                <div class="lg:flex gap-4">
                    <div class="w-full lg:w-1/2">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="lg:flex gap-4">
                    <div class="w-full lg:w-1/2">
                        {{ form_row(form.plainPassword) }}
                    </div>
                </div>
            </div>

        </fieldset>

        <div class="pt-6 sm:pt-12 border-t">
            <twig:FormSubmit form="{{ form }}" />
        </div>
    </div>
</div>
